In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [2]:
# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# Create map field dataset
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), \
               age=int(fields[2]), numFriends=int(fields[3]))

In [4]:
lines = spark.sparkContext.textFile("c:/SparkCourse/Dataset/fakefriends.csv")
people = lines.map(mapper)

In [5]:
# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.createOrReplaceTempView("people")

In [6]:
# SQL can be run over DataFrames that have been registered as a table.
teenagers = spark.sql("SELECT name, age, numFriends FROM people WHERE age >= 13 AND age <= 40 ORDER BY age")

In [7]:
# The results of SQL queries are RDDs and support all the normal RDD operations.
for teen in teenagers.collect():
  print(teen)

Row(name="b'Beverly'", age=18, numFriends=499)
Row(name="b'Dukat'", age=18, numFriends=397)
Row(name="b'Data'", age=18, numFriends=326)
Row(name="b'Beverly'", age=18, numFriends=418)
Row(name="b'Kasidy'", age=18, numFriends=24)
Row(name="b'Data'", age=18, numFriends=417)
Row(name="b'Keiko'", age=18, numFriends=472)
Row(name="b'Kasidy'", age=18, numFriends=194)
Row(name="b'Miles'", age=19, numFriends=268)
Row(name="b'Beverly'", age=19, numFriends=269)
Row(name="b'Brunt'", age=19, numFriends=5)
Row(name="b'Quark'", age=19, numFriends=265)
Row(name="b'Will'", age=19, numFriends=335)
Row(name="b'Elim'", age=19, numFriends=106)
Row(name="b'Will'", age=19, numFriends=404)
Row(name="b'Keiko'", age=19, numFriends=119)
Row(name="b'Quark'", age=19, numFriends=272)
Row(name="b'Nog'", age=19, numFriends=267)
Row(name="b'Dukat'", age=19, numFriends=36)
Row(name="b'Nog'", age=20, numFriends=1)
Row(name="b'Geordi'", age=20, numFriends=100)
Row(name="b'Brunt'", age=20, numFriends=384)
Row(name="b'Julian'", age=20, numFriends=63)
Row(name="b'Kasidy'", age=20, numFriends=277)
Row(name="b'Ben'", age=21, numFriends=445)
Row(name="b'Geordi'", age=21, numFriends=477)
Row(name="b'Kasidy'", age=21, numFriends=472)
Row(name="b'Will'", age=21, numFriends=491)
Row(name="b'Dukat'", age=21, numFriends=471)
Row(name="b'Dukat'", age=21, numFriends=138)
Row(name="b'Worf'", age=21, numFriends=89)
Row(name="b'Weyoun'", age=21, numFriends=224)
Row(name="b'Weyoun'", age=22, numFriends=323)
Row(name="b'Julian'", age=22, numFriends=100)
Row(name="b'Kasidy'", age=22, numFriends=179)
Row(name="b'Miles'", age=22, numFriends=93)
Row(name="b'Will'", age=22, numFriends=6)
Row(name="b'Martok'", age=22, numFriends=266)
Row(name="b'Leeta'", age=22, numFriends=478)
Row(name="b'Leeta'", age=23, numFriends=129)
Row(name="b'Ezri'", age=23, numFriends=174)
Row(name="b'Beverly'", age=23, numFriends=133)
Row(name="b'Dukat'", age=23, numFriends=373)
Row(name="b'Deanna'", age=23, numFriends=65)
Row(name="b'Beverly'", age=23, numFriends=323)
Row(name="b'Gowron'", age=23, numFriends=392)
Row(name="b'Keiko'", age=23, numFriends=230)
Row(name="b'Nerys'", age=23, numFriends=287)
Row(name="b'Hugh'", age=23, numFriends=357)
Row(name="b'Brunt'", age=24, numFriends=49)
Row(name="b'Worf'", age=24, numFriends=492)
Row(name="b'Gowron'", age=24, numFriends=150)
Row(name="b'Beverly'", age=24, numFriends=401)
Row(name="b'Worf'", age=24, numFriends=77)
Row(name="b'Julian'", age=25, numFriends=1)
Row(name="b'Morn'", age=25, numFriends=96)
Row(name="b'Ezri'", age=25, numFriends=233)
Row(name="b'Leeta'", age=25, numFriends=274)
Row(name="b'Morn'", age=25, numFriends=13)
Row(name="b'Lwaxana'", age=25, numFriends=10)
Row(name="b'Deanna'", age=25, numFriends=305)
Row(name="b'Data'", age=25, numFriends=101)
Row(name="b'Morn'", age=25, numFriends=446)
Row(name="b'Weyoun'", age=25, numFriends=208)
Row(name="b'Beverly'", age=25, numFriends=485)
Row(name="b'Jean-Luc'", age=26, numFriends=2)
Row(name="b'Nog'", age=26, numFriends=281)
Row(name="b'Brunt'", age=26, numFriends=84)
Row(name="b'Leeta'", age=26, numFriends=282)
Row(name="b'Kasidy'", age=26, numFriends=381)
Row(name="b'Weyoun'", age=26, numFriends=145)
Row(name="b'Lwaxana'", age=26, numFriends=345)
Row(name="b'Martok'", age=26, numFriends=293)
Row(name="b'Ezri'", age=26, numFriends=298)
Row(name="b'Nerys'", age=26, numFriends=492)
Row(name="b'Nog'", age=26, numFriends=269)
Row(name="b'Odo'", age=26, numFriends=254)
Row(name="b'Brunt'", age=26, numFriends=7)
Row(name="b'Elim'", age=26, numFriends=383)
Row(name="b'Lwaxana'", age=26, numFriends=124)
Row(name="b'Jadzia'", age=26, numFriends=391)
Row(name="b'Geordi'", age=26, numFriends=84)
Row(name="b'Hugh'", age=27, numFriends=181)
Row(name="b'Beverly'", age=27, numFriends=305)
Row(name="b'Brunt'", age=27, numFriends=174)
Row(name="b'Dukat'", age=27, numFriends=150)
Row(name="b'Gowron'", age=27, numFriends=471)
Row(name="b'Odo'", age=27, numFriends=337)
Row(name="b'Deanna'", age=27, numFriends=53)
Row(name="b'Nog'", age=27, numFriends=154)
Row(name="b'Ben'", age=28, numFriends=311)
Row(name="b'Ben'", age=28, numFriends=304)
Row(name="b'Martok'", age=28, numFriends=32)
Row(name="b'Worf'", age=28, numFriends=312)
Row(name="b'Jean-Luc'", age=28, numFriends=174)
Row(name="b'Weyoun'", age=28, numFriends=108)
Row(name="b'Will'", age=28, numFriends=180)
Row(name="b'Brunt'", age=28, numFriends=258)
Row(name="b'Martok'", age=28, numFriends=34)
Row(name="b'Jean-Luc'", age=28, numFriends=378)
Row(name="b'Odo'", age=29, numFriends=173)
Row(name="b'Worf'", age=29, numFriends=344)
Row(name="b'Weyoun'", age=29, numFriends=126)
Row(name="b'Keiko'", age=29, numFriends=260)
Row(name="b'Kasidy'", age=29, numFriends=11)
Row(name="b'Julian'", age=29, numFriends=228)
Row(name="b'Quark'", age=29, numFriends=367)
Row(name="b'Quark'", age=29, numFriends=182)
Row(name="b'Nog'", age=29, numFriends=236)
Row(name="b'Ben'", age=29, numFriends=207)
Row(name="b'Hugh'", age=29, numFriends=329)
Row(name="b'Data'", age=29, numFriends=128)
Row(name="b'Quark'", age=30, numFriends=72)
Row(name="b'Jean-Luc'", age=30, numFriends=204)
Row(name="b'Kasidy'", age=30, numFriends=108)
Row(name="b'Ben'", age=30, numFriends=376)
Row(name="b'Lwaxana'", age=30, numFriends=384)
Row(name="b'Ezri'", age=30, numFriends=221)
Row(name="b'Leeta'", age=30, numFriends=476)
Row(name="b'Martok'", age=30, numFriends=17)
Row(name="b'Data'", age=30, numFriends=487)
Row(name="b'Nog'", age=30, numFriends=184)
Row(name="b'Quark'", age=30, numFriends=65)
Row(name="b'Morn'", age=31, numFriends=192)
Row(name="b'Elim'", age=31, numFriends=15)
Row(name="b'Ezri'", age=31, numFriends=481)
Row(name="b'Odo'", age=31, numFriends=340)
Row(name="b'Will'", age=31, numFriends=172)
Row(name="b'Miles'", age=31, numFriends=109)
Row(name="b'Ezri'", age=31, numFriends=394)
Row(name="b'Guinan'", age=31, numFriends=435)
Row(name="b'Kasidy'", age=32, numFriends=81)
Row(name="b'Geordi'", age=32, numFriends=308)
Row(name="b'Dukat'", age=32, numFriends=142)
Row(name="b'Dukat'", age=32, numFriends=384)
Row(name="b'Miles'", age=32, numFriends=182)
Row(name="b'Worf'", age=32, numFriends=412)
Row(name="b'Geordi'", age=32, numFriends=404)
Row(name="b'Geordi'", age=32, numFriends=24)
Row(name="b'Guinan'", age=32, numFriends=212)
Row(name="b'Quark'", age=32, numFriends=41)
Row(name="b'Elim'", age=32, numFriends=97)
Row(name="b'Will'", age=33, numFriends=385)
Row(name="b'Guinan'", age=33, numFriends=74)
Row(name="b'Kasidy'", age=33, numFriends=471)
Row(name="b'Worf'", age=33, numFriends=275)
Row(name="b'Data'", age=33, numFriends=245)
Row(name="b'Ezri'", age=33, numFriends=356)
Row(name="b'Weyoun'", age=33, numFriends=460)
Row(name="b'Nerys'", age=33, numFriends=294)
Row(name="b'Quark'", age=33, numFriends=243)
Row(name="b'Elim'", age=33, numFriends=463)
Row(name="b'Brunt'", age=33, numFriends=228)
Row(name="b'Odo'", age=33, numFriends=410)
Row(name="b'Julian'", age=34, numFriends=221)
Row(name="b'Dukat'", age=34, numFriends=319)
Row(name="b'Brunt'", age=34, numFriends=116)
Row(name="b'Rom'", age=34, numFriends=346)
Row(name="b'Keiko'", age=34, numFriends=48)
Row(name="b'Lwaxana'", age=34, numFriends=423)
Row(name="b'Odo'", age=35, numFriends=13)
Row(name="b'Nerys'", age=35, numFriends=244)
Row(name="b'Deanna'", age=35, numFriends=355)
Row(name="b'Deanna'", age=35, numFriends=251)
Row(name="b'Brunt'", age=35, numFriends=65)
Row(name="b'Data'", age=35, numFriends=428)
Row(name="b'Odo'", age=35, numFriends=299)
Row(name="b'Morn'", age=35, numFriends=38)
Row(name="b'Rom'", age=36, numFriends=49)
Row(name="b'Lwaxana'", age=36, numFriends=212)
Row(name="b'Nog'", age=36, numFriends=193)
Row(name="b'Miles'", age=36, numFriends=424)
Row(name="b'Hugh'", age=36, numFriends=342)
Row(name="b'Will'", age=36, numFriends=174)
Row(name="b'Geordi'", age=36, numFriends=168)
Row(name="b'Miles'", age=36, numFriends=68)
Row(name="b'Geordi'", age=36, numFriends=493)
Row(name="b'Quark'", age=36, numFriends=343)
Row(name="b'Gowron'", age=37, numFriends=220)
Row(name="b'Nerys'", age=37, numFriends=46)
Row(name="b'Elim'", age=37, numFriends=426)
Row(name="b'Nog'", age=37, numFriends=271)
Row(name="b'Lwaxana'", age=37, numFriends=207)
Row(name="b'Beverly'", age=37, numFriends=263)
Row(name="b'Julian'", age=37, numFriends=106)
Row(name="b'Weyoun'", age=37, numFriends=234)
Row(name="b'Ezri'", age=37, numFriends=471)
Row(name="b'Jadzia'", age=38, numFriends=380)
Row(name="b'Will'", age=38, numFriends=459)
Row(name="b'Kasidy'", age=38, numFriends=2)
Row(name="b'Data'", age=38, numFriends=173)
Row(name="b'Leeta'", age=38, numFriends=76)
Row(name="b'Hugh'", age=38, numFriends=180)
Row(name="b'Brunt'", age=38, numFriends=96)
Row(name="b'Leeta'", age=38, numFriends=410)
Row(name="b'Data'", age=38, numFriends=454)
Row(name="b'Nog'", age=38, numFriends=95)
Row(name="b'Weyoun'", age=38, numFriends=38)
Row(name="b'Ezri'", age=38, numFriends=203)
Row(name="b'Jadzia'", age=38, numFriends=143)
Row(name="b'Julian'", age=38, numFriends=34)
Row(name="b'Deanna'", age=38, numFriends=160)
Row(name="b'Miles'", age=39, numFriends=161)
Row(name="b'Nerys'", age=39, numFriends=248)
Row(name="b'Odo'", age=39, numFriends=207)
Row(name="b'Nerys'", age=39, numFriends=68)
Row(name="b'Ezri'", age=39, numFriends=120)
Row(name="b'Data'", age=39, numFriends=106)
Row(name="b'Gowron'", age=39, numFriends=275)
Row(name="b'Deanna'", age=40, numFriends=465)
Row(name="b'Ezri'", age=40, numFriends=254)
Row(name="b'Morn'", age=40, numFriends=459)
Row(name="b'Weyoun'", age=40, numFriends=407)
Row(name="b'Dukat'", age=40, numFriends=18)
Row(name="b'Miles'", age=40, numFriends=284)
Row(name="b'Geordi'", age=40, numFriends=389)
Row(name="b'Nog'", age=40, numFriends=349)
Row(name="b'Odo'", age=40, numFriends=406)
Row(name="b'Ezri'", age=40, numFriends=198)
Row(name="b'Jadzia'", age=40, numFriends=172)
Row(name="b'Martok'", age=40, numFriends=33)
Row(name="b'Nerys'", age=40, numFriends=56)
Row(name="b'Leeta'", age=40, numFriends=7)
Row(name="b'Will'", age=40, numFriends=261)
Row(name="b'Guinan'", age=40, numFriends=286)
Row(name="b'Keiko'", age=40, numFriends=220)

In [8]:
# We can also use functions instead of SQL queries:
schemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

In [ ]:
spark.stop()